<div class="page-header">
	<h1><%= @article.title %><%= " <small>#{link_to "Edit", edit_article_path(@article)}</small>".html_safe if can? :edit, @article %></h1>
</div>

<div class="row">
	<div class="span10">
		<%= @article.body.markabb %>
	</div>
	<div class="span2">
		Posted By<br />
		<%= @article.user.username %><br />
		<br />
		Posted On<br />
		<%= @article.created_at.strftime(date_string) %>
	</div>
</div>