<div class="row">
	<div class="span1">
		&nbsp;
	</div>
	<div class="span5">
		<%= link_to topic.name, forum_topic_posts_path(@forum, topic) %><%= " <span class=\"label label-important\">Closed</span>".html_safe if topic.closed %><%= " <span class=\"label label-info\">Sticky</span>".html_safe if topic.closed %>
	</div>
	<div class="span1">
		<%= topic.posts.first.user.username %>
	</div>
	<div class="span1">
		<%= topic.posts.count %>
	</div>
	<div class="span4">
		<%= topic.posts.last.user.username %>
	</div>
</div>
<hr>
