<div class="page-header">
	<h1><%= @forum.name %></h1>
</div>

<div class="row">
	<div class="span8">
		&nbsp;
		<%= paginate @topics %>
	</div>
	<div class="span4">
		<div class="well">
			<%= link_to("New Topic", new_forum_topic_path(@forum), class: "btn btn-success") if can? :new, @forum.topics.new %>
			<%= link_to("Edit Forum", edit_forum_path(@forum), class: "btn btn-primary") if can? :edit, @forum %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span1">
		&nbsp;
	</div>
	<div class="span5">
		Topic
	</div>
	<div class="span1">
		Started By
	</div>
	<div class="span1">
		Posts
	</div>
	<div class="span4">
		Last Post
	</div>
</div>
<hr>
<% if @stickys.count != 0 %>
	<h3>Sticky Topics</h3>
	<hr>
	<% @stickys.each do |topic| %>
		<%= render 'topic', topic: topic %>
	<% end %>
	<h3>Normal Topics</h3>
	<hr>
<% end %>

<% @topics.each do |topic| %>
	<%= render 'topic', topic: topic %>
<% end %>
